@page "/infomaquina/{id:int}"

<style>
    .row{
        display: flex;
        justify-content: space-between
    }
</style>

<br />
<button class="btn btn-outline-primary" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
<br />
<br />
<div class="flex-column">

    <button class="btn btn-outline-success" style="float:right" @onclick="()=>Mantenimiento()">Mantenimiento correctivo</button>
    <h1>Herramienta n°@id</h1>
    <p>Descripción herramienta (*)</p>
</div>
<hr />
<br />

<div class="row">
    <div class="col-md-6 col-xl-6">

        <RadzenCard Class="m-3">
            @* <div class="d-flex flex-row p-3"> *@
            <div class="p-3">
                <div>
                    <h4><strong>Ficha técnica @oMaquina.Codigo</strong></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Nombre</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.Nombre</b></RadzenText>
                        </div>
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Marca</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.Marca</b></RadzenText>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Descripcion</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.Descripcion</b></RadzenText>
                        </div>
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Asignacion</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.Asignacion</b></RadzenText>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Estado</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.Estado</b></RadzenText>
                        </div>
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Motivo Estado</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.MotivoEstado</b></RadzenText>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Detalle ultimo mantenimiento preventivo</RadzenText>
                            @if (oMaquina.DetalleMantenimiento != null)
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.DetalleMantenimiento</b></RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>No se registro un detalle</b></RadzenText>
                            }
                        </div>
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Ultimo mantenimiento preventivo</RadzenText>
                            @if (oMaquina.UltimoMant.HasValue || oMaquina.UltimoMant != null)
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.MantenimientoPreventivo</b></RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>No se registro un mantenimiento inicial</b></RadzenText>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Fecha de ingreso</RadzenText>
                            @if (oMaquina.FechaIngreso.HasValue)
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.FechaIngreso.Value.ToString("dd/MM/yyyy")</b></RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>Sin fecha de ingreso registrada</b></RadzenText>
                            }
                        </div>
                        <div class="col-sm-6">
                           
                        </div>
                    </div>
                </div>
            </div>
        </RadzenCard>
    </div>
    <div class="col-md-6 col-xl-6">

        <RadzenCard Class="m-3">
            <div class=" p-3">
                <div>
                    <h4><strong>Mantenimiento</strong></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Periocidad mantenimiento</RadzenText>
                            @if(oMaquina.PeriodicidadMantenimiento.HasValue){
                                <RadzenText TextStyle="TextStyle.Body1"><b>Cada @oMaquina.PeriodicidadMantenimiento Dias</b></RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>No se registro una periocidad para el mantenimiento</b></RadzenText>
                            }
                        </div>
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Descripcion mantenimiento</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@desc</b></RadzenText>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Fecha ultimo mantenimiento registrado</RadzenText>
                            @if(oMaquina.UltimoMant.HasValue){
                                <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.UltimoMant.Value.ToString("dd/MM/yyyy")</b></RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>No se registro un mantenimiento inicial</b></RadzenText>
                            }
                        </div>
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Proximo mantenimiento</RadzenText>
                            @if(oMaquina.UltimoMant.HasValue){
                                <RadzenText TextStyle="TextStyle.Body1"><b>@proxMant.ToString("dd/MM/yyyy")</b></RadzenText>

                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>No se registro una fecha de primer mantenimiento</b></RadzenText>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Detalle ultimo mantenimiento</RadzenText>
                            @if (oMaquina.DetalleCorrectivo != null)
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.DetalleCorrectivo</b></RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>No se registro un detalle</b></RadzenText>
                            }
                        </div>
                        <div class="col-sm-6">
                            <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Disposicion</RadzenText>
                            @if (oMaquina.MotivoDisposicion != null)
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>@oMaquina.MotivoDisposicion</b></RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body1"><b>No se registro la disposicion</b></RadzenText>
                            }
                        </div>
                    </div>
                </div>
                <br />

            </div>
        </RadzenCard>
    </div>
   
</div>


@code {

        [Parameter] public int id { get; set; }

        [CascadingParameter] public IModalService Modal { get; set; } = default!;
        Respuesta<MaquinasHerramienta> oRespuesta = new();
        MaquinasHerramienta oMaquina = new();
        RadzenDataGrid<MaquinasHerramienta>? grid;
        DateTime proxMant = new();
        int currentPage;
        bool allowFiltering = false;
        string? desc = "";

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }

    async Task Get()
    {
        var respuesta = await http.GetFromJsonAsync<Respuesta<MaquinasHerramienta>>($"/api/Maquinas/{id}");
        oMaquina = respuesta.List;
        StateHasChanged();

        desc = string.Join(", ", JsonSerializer.Deserialize<List<string>>(oMaquina.DescripcionMantenimiento) ?? new List<string>()) ?? "-";
        if (oMaquina.UltimoMant.HasValue && oMaquina.PeriodicidadMantenimiento.HasValue)
        {


            TimeSpan perio = TimeSpan.FromDays((double)oMaquina.PeriodicidadMantenimiento);
            Console.WriteLine(perio);
            TimeSpan difference = DateTime.Now - oMaquina.UltimoMant.Value;
            Console.WriteLine(difference);
            double distance = difference / perio;
            Console.WriteLine(distance);
            var multiplicador = Math.Ceiling(distance);
            Console.WriteLine(multiplicador);
            proxMant = oMaquina.UltimoMant.Value.AddDays(multiplicador * ((double)oMaquina.PeriodicidadMantenimiento));
        }
    }
    async Task ComeBack()
    {
        nav.NavigateTo("/maquinas");
    }

    public async Task Mantenimiento()
    {
        var parameters = new ModalParameters();

        var options = new ModalOptions()
            {
                HideHeader = true,
            };
        parameters.Add(nameof(MantenimientoCorrectivo.id), id);

        var formModal = Modal.Show<MantenimientoCorrectivo>("Generar mantenimiento correctivo", parameters, options);
        var result = await formModal.Result;
        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else if (result.Data != null)
        {
            await Get();
        }
    }
}
