


<div class="card">
    <div class="card-body">

        <EditForm Model="@lote" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <ValidationSummary ShowValidationErrors="false" />
            <div class="row">
                <div class="col-sm">
                    <label>Nro Remito</label>
                    <InputText @bind-Value="@lote.NroRemito" class="form-control" placeholder="Numero"></InputText>
                </div>
                <div class="col-sm">
                    <label>Fecha de recepcion</label>
                    <RadzenDatePicker @bind-Value="@lote.FechaIngreso" ShowTime="false"></RadzenDatePicker>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label>Proveedor</label>
                    <RadzenDropDown AllowClear="true" TValue="string" Style="width: 100%" AllowFiltering="true"
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    Data=@(oRtaProveedor.List) TextProperty="RazonSocial" ValueProperty="RazonSocial" @bind-Value="lote.Proveedor" />
                    <ValidationMessage For="(()=> lote.Proveedor)" style="color:red;" />
                </div>

                <div class="col-sm-4">
                    <label>Tipo</label>
                    <RadzenDropDown class="form-control" TValue="string" Data=@(tiposList) placeholder="Tipo" @bind-Value="@lote.Tipo" />
                    <ValidationMessage For="(()=> lote.Tipo)" style="color:red;" />
                </div>

                <div class="col-sm-4">
                    @if (lote.Tipo == "Lote de recorte")
                    {
                        <label class="col-sm">Alto</label>
                        <InputNumber @bind-Value="@lote.Alto" class="form-control" placeholder="Alto"></InputNumber>


                    }
                    else
                    {
                        <label class="col-sm">Cantidad</label>
                        <InputNumber @bind-Value="@lote.Cantidad" class="form-control" placeholder="Cantidad"></InputNumber>
                    }
                    <ValidationMessage For="(()=> lote.Cantidad)" style="color:red;" />
                </div>
            </div>
            <br />       
            <div class="row">
                <div class="col-sm-4">
                @if (lote.Tipo == "Lote de recorte")
                {
                        <label class="col-sm">Ancho</label>
                        <InputNumber @bind-Value="@lote.Ancho" class="form-control" placeholder="Ancho"></InputNumber>
                }
                else
                {
                        <label class="col-sm">Cantidad de Ingreso</label>
                        <InputNumber @bind-Value="@lote.CantidadIngreso" class="form-control" placeholder="Cantidad"></InputNumber>
                    }
                </div>
                 <div class="col-sm-4">
                    <label>Estado</label>
                    <RadzenDropDown class="form-control" TValue="string" Data=@(Estado) placeholder="Estado" @bind-Value="@lote.Estado" />
                    <ValidationMessage For="(()=> lote.Estado)" style="color:red;" />
                 </div>
             
            </div>
            <br />
            <button type="submit" class="btn btn-primary mr-2" disabled=@disable>Aceptar</button>
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>


@code {
    Lote lote = new();
    InsumoDTO oInsumo = new();
    Respuesta<InsumoDTO> oRta = new();
    Respuesta<List<ProveedoreDTO>> oRtaProveedor = new();
    List<Lote> LotesExistentes = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int id { get; set; }
    [Parameter] public int idLote { get; set; }


    List<string> tiposList = new() { "Lote nuevo", "Lote de recorte" }; //Elimino "Lote Unico"
    List<string> Estado = new() { "Aprobado", "Desaprobado", "En observacion" };
    bool disable;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(id);
        Console.WriteLine(idLote);

        disable = false;
        oRta = await http.GetFromJsonAsync<Respuesta<InsumoDTO>>($"/api/Insumo/{id}");
        oInsumo = oRta.List;

        oRtaProveedor = await http.GetFromJsonAsync<Respuesta<List<ProveedoreDTO>>>($"/api/proveedore");

        var rta = await http.GetFromJsonAsync<Respuesta<List<Lote>>>("/api/Lotes");
        LotesExistentes = rta.List.Where(x => x.IdInsumo == oInsumo.Id).ToList();

        lote.NumeroMuestra = rta.List.LastOrDefault().Id +1;


        if (lote.Cantidad == null)
        {
            lote.Cantidad = 0;
        }

        if (idLote != 0 && lote != null)
        {
            var lotes = LotesExistentes;
            if (lotes.Count > 0)
            {
                lote = lotes.Where(x => x.Id == idLote).First();

            }
        }
    }

    async Task Guardar()
    {

        if (string.IsNullOrEmpty(lote.Tipo))
        {
            await alertaError("tipo");

        }
        else if (string.IsNullOrEmpty(lote.Proveedor))
        {
            await alertaError("proveedor");
        }
        else if (string.IsNullOrEmpty(lote.NroRemito))
        {
            await alertaError("numero de remito");
        }
        else
        {




            lote.IdInsumo = id;

            if (lote.Cantidad == null) //No se bugee cantidad en la grilla
            {
                lote.Cantidad = 0;
            }
            disable = true;

            if (idLote == 0)
            {



                if (lote.Tipo == "Lote de recorte")
                {

                    lote.Cantidad = 1;
                }

                int? mayorLote = 0;
                if (lote != null)
                {
                    var lotesExistentes = LotesExistentes;

                    if (lotesExistentes.Count != 0)
                    {
                        foreach (var loteParticular in lotesExistentes)
                        {
                            if (loteParticular.Numero > mayorLote)
                            {
                                mayorLote = loteParticular.Numero;
                            }
                        }
                    }
                }
                lote.Numero = mayorLote + 1;


                await http.PostAsJsonAsync<Lote>("/api/lotes", lote);

                Console.WriteLine(lote.Estado);

        }
        else
        {

           
            await http.PutAsJsonAsync<Lote>($"/api/lotes", lote);

        }
        await ModalInstance.CloseAsync(ModalResult.Ok());

        }
    }
    public async Task alertaError(string faltante)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = $"No ingreso un {faltante} valido",
                Icon = SweetAlertIcon.Error,
                ShowCancelButton = false,
                ConfirmButtonText = "Aceptar",

            });


    }


    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Cancel());
    }
}
