@inject IJSRuntime _js
@using System.Drawing
@using QRCoder
@using System.Drawing.Imaging;


<style>
    @@media print {
        .no-print {
            display: none !important;
        }

        .head {
            display: none !important;
        }

        .header {
            display: none !important;
        }

        .bm-header {
            display: none !important;
        }

        .page {
            display: none !important;
            margin: 0;
        }

        .blazored-modal {
            width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }



    .impresion {
        width: 10cm;
        height: 5cm;
        margin: 0;
        padding: 0;
    }




    .clearfix {
        clear: both;
    }
</style>





<button style="outline:none; float: right;height:100%; margin-top: 0px;" class="no-print btn btn-outline" @onclick="() =>
       Print()">
    <FeatherPrinter Color="Black"></FeatherPrinter>
</button>


<br/>
<div class="impresion row" id="DivIdToPrint" style="margin-bottom: 5%; margin-left:5% ; margin-right: 10%; width: 100%;">
    <div class="col-1" />
    <div class="col-6" style="height:10%">

        <img src="/Images/logo2.jpg" style="float: left;height: 170%; width: auto%;" alt="...">

    </div>


    <div class="col-4" style="height: 10%; ">
        @if (LoteChoose.Id != null)
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:100%;font-size:55%">NÚMERO DE LOTE: @LoteChoose.Id</RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55%">NÚMERO DE LOTE: No encontrado</RadzenText>
        }

        @if (LoteChoose.Cantidad != null)
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55%"> UNIDADES: @LoteChoose.Cantidad</RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55%"> UNIDADES: No encontrado</RadzenText>
        }




    </div>




    <div style="text-align: center; height: 20%;">
        @if (oInsumo.Codigo != null)
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55%"> @oInsumo.Codigo </RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55%">Codigo: No encontrado</RadzenText>
        }


        @if (oInsumo.Descripcion != null)
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55% "> @oInsumo.Descripcion </RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55% ">Descripcion: No encontrado</RadzenText>
        }

        @if (LoteChoose.Proveedor != null)
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55% ">@LoteChoose.Proveedor </RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55% ">PROVEEDOR: No encontrado</RadzenText>
        }



    </div>

    <div class="col-4" style="width: 40%; margin-left: 3%; height: 20%;">
        @if (LoteChoose.FechaIngreso != null)
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55% ">FECHA INGRESO: @LoteChoose.FechaIngreso.Value.ToString("dd/MM/yyyy") </RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:140%;font-size:55% ">FECHA INGRESO: No encontrado</RadzenText>
        }



    </div>

    <div class="col-5" style="text-align: right; height: 20%;">
        <h1 style=" font-size:55%;  "><strong>APROBADO</strong> </h1>
    </div>
</div>


@code {




    InsumoDTO oInsumo = null;



    Respuesta<InsumoDTO> oRta = new();
    Respuesta<List<Lote>> rta = new();
    [Parameter] public int? Id { get; set; }

    string imageQR = null;


    List<Lote> oLotes = null;

    [Parameter] public int? idLote { get; set; }

    Lote LoteChoose = null;

    protected override async Task OnInitializedAsync()
    {

        oRta = await http.GetFromJsonAsync<Respuesta<InsumoDTO>>($"/api/insumo/{Id}");
        oInsumo = oRta.List;


        rta = await http.GetFromJsonAsync<Respuesta<List<Lote>>>("/api/Lotes");


        LoteChoose = rta.List.Where(x => x.Id == idLote).FirstOrDefault();


        Console.WriteLine(idLote);
        Console.WriteLine(Id);


        QRCodeGenerator qrCodeGenerate = new();


        QRCodeData qrCodeData = qrCodeGenerate.CreateQrCode($"http://localhost:5000/infoLotes/{Id}/{idLote}", QRCodeGenerator.ECCLevel.Q);





        PngByteQRCode qrCode = new(qrCodeData);



        byte[] qrByte = qrCode.GetGraphic(10);



        string base64 = Convert.ToBase64String(qrByte);
        imageQR = string.Format("data:image/png;base64,{0}", base64);





    }


    private async Task Print()
         => await _js.InvokeVoidAsync("window.print");






}