@inject IJSRuntime _js
@using System.Drawing
@using QRCoder
@using System.Drawing.Imaging;


<style>
    @@media print {
        .no-print {
            display: none !important;
        }

        .head {
            display: none !important;
        }

        .header {
            display: none !important;
        }

        .bm-header {
            display: none !important;
        }
        .bm-content{
            margin:0;
        }
        .page {
            display: none !important;
            margin: 0;
        }

        .blazored-modal {
            width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            box-shadow: 0px 0px !important;
        }
    }



    .impresion {
        width: 10cm;
        height: 5cm;
        margin: 0;
        padding: 0;
    }




    .clearfix {
        clear: both;
    }
</style>





<button style="outline:none; float: right;height:100%; margin-top: 0px;" class="no-print btn btn-outline" @onclick="() =>
       Print()">
    <FeatherPrinter Color="Black"></FeatherPrinter>
</button>


<br/>
    <div class="row" style="height:20%;margin-left:5%;margin-right: 10%">
        <div class="col-1" />
        <div class="col-6">

            <img src="/Images/logo2.jpg" style="float: left;max-height: 1cm; width: auto;" alt="...">

        </div>


        <div class="col-4" style="height: 10%; ">
            @if (LoteChoose.Id != null)
            {
                <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65%"><strong><strong>NÚMERO DE LOTE: @LoteChoose.Id</strong></strong></RadzenText>
            }
            else
            {
                <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65%"><strong><strong>NÚMERO DE LOTE: No encontrado</strong></strong></RadzenText>
            }

            @if (LoteChoose.Cantidad != null)
            {
                <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65%"><strong><strong> UNIDADES: @LoteChoose.Cantidad</strong></strong></RadzenText>
            }
            else
            {
                <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65%"><strong><strong> UNIDADES: No encontrado</strong></strong></RadzenText>
            }
        </div>
    </div>



<div style="text-align: center;margin-left:5%;margin-right: 10%">
        <div class="row">
        @if (oInsumo.Codigo != null)
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65%"><strong><strong> @oInsumo.Codigo </strong></strong></RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65%"><strong><strong>Codigo: No encontrado</strong></strong></RadzenText>
        }
        </div>
        <div class="row">
        @if (oInsumo.Descripcion != null)
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65% "><strong><strong> @oInsumo.Descripcion </strong></strong></RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65% "><strong><strong>Descripcion: No encontrado</strong></strong></RadzenText>
        }
        </div>
        <div class="row">
        @if (LoteChoose.Proveedor != null)
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65% "><strong><strong>@LoteChoose.Proveedor </strong></strong></RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:65% "><strong><strong>PROVEEDOR: No encontrado</strong></strong></RadzenText>
        }
        </div>


    </div>
<div class="row" style="margin-left:5%;margin-right: 10%">
    <div class="col-6" style="width: 40%; margin-left: 3%; height: 20%;">
        @if (LoteChoose.FechaIngreso != null)
        {
            <RadzenText  TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:60% "><strong><strong>INGRESO: @LoteChoose.FechaIngreso.Value.ToString("dd/MM/yyyy") </strong></strong></RadzenText>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.H6" Style="font-weight:200%;font-size:60% "><strong><strong>INGRESO: No encontrado</strong></strong></RadzenText>
        }



    </div>

    <div class="col-5" style="text-align: right; height: 20%;">
        <h1 style=" font-size:65%;  "><strong><strong>APROBADO</strong></strong> </h1>
    </div>
    </div>


@code {




    InsumoDTO oInsumo = null;



    Respuesta<InsumoDTO> oRta = new();
    Respuesta<List<Lote>> rta = new();
    [Parameter] public int? Id { get; set; }

    string imageQR = null;


    List<Lote> oLotes = null;

    [Parameter] public int? idLote { get; set; }

    Lote LoteChoose = null;

    protected override async Task OnInitializedAsync()
    {

        oRta = await http.GetFromJsonAsync<Respuesta<InsumoDTO>>($"/api/insumo/{Id}");
        oInsumo = oRta.List;


        rta = await http.GetFromJsonAsync<Respuesta<List<Lote>>>("/api/Lotes");


        LoteChoose = rta.List.Where(x => x.Id == idLote).FirstOrDefault();


        Console.WriteLine(idLote);
        Console.WriteLine(Id);


        QRCodeGenerator qrCodeGenerate = new();


        QRCodeData qrCodeData = qrCodeGenerate.CreateQrCode($"http://localhost:5000/infoLotes/{Id}/{idLote}", QRCodeGenerator.ECCLevel.Q);





        PngByteQRCode qrCode = new(qrCodeData);



        byte[] qrByte = qrCode.GetGraphic(10);



        string base64 = Convert.ToBase64String(qrByte);
        imageQR = string.Format("data:image/png;base64,{0}", base64);





    }


    private async Task Print()
         => await _js.InvokeVoidAsync("window.print");






}