@page "/infoinsumo/{id:int}"
<br />
<button class="btn btn-outline-primary" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
<br />






@if (oInsumo != null)
{





    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 60%; max-height: 1200px;">


        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
            <RadzenStack Gap="0">
                 <RadzenColumn SizeSM="4">
                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-black"><strong>INSUMO</strong></RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@oInsumo.Nombre</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0" style="font-size: 15px">Descripcion: </RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@oInsumo.Descripcion</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0" style="font-size: 15px">Stock real: </RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@oInsumo.StockReal</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0" style="font-size: 15px">Código: </RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@oInsumo.Codigo</b></RadzenText>
                </RadzenColumn>
                 
            </RadzenStack>
        </RadzenStack>
        <RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">

            <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>Lotes: </b></RadzenText>
            @foreach(var lote in oLotes)
                if (oInsumo.Lotes == "Lote nuevo")
                {
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b> LN  @lote.Numero      Cantidad: @lote.Cantidad        </b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b> Número remito: @lote.NroRemito      Proveedor: @lote.Proveedor  </b></RadzenText>
                    <hr />
                    <br />
                }
                else
                {
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b> @lote.Tipo Nº @lote.Numero      Alto: @lote.Alto        </b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b> Ancho: @lote.Ancho      Proveedor: @lote.Proveedor </b></RadzenText>
                    <hr />
                    <br />
                }

            


        </RadzenCard>
    </RadzenCard>
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <RadzenProgressBar Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Secondary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}





@code {

    InsumoDTO oInsumo = null;

    Respuesta<InsumoDTO> oRta = new();



    List<Lotes> oLotes = null;



    [Parameter] public int? id { get; set; }



    protected override async Task OnInitializedAsync()
    {



        oRta = await http.GetFromJsonAsync<Respuesta<InsumoDTO>>($"/api/insumo/{id}");
        oInsumo = oRta.List;

        oLotes = JsonSerializer.Deserialize<List<Lotes>>(oInsumo.Lotes);


    }

    async Task ComeBack()
    {
        nav.NavigateTo("/insumos");
    }
}
