@page "/infoLotes/{remito:int}/{num:int}/{cantidad:int}/{fecha:long}"




<style>
    h1{
        text-align: center;
        font-size: 60px;
          
    }

    .clearfix {
        clear: both;

    }

    .temp {
        height: 300px;
        width: 100%;
        align-content: center;
    }
    .izq {
        height: 300px;
        width: 500px;
        
    }
    .derecha{
        width: 300px;
       
        float: right;
    }

</style>



    <h1> PÁGINA LOTE NUEVO </h1>
    <br />

    <div class="row card temp" style="font-size: 20px;">

  
        
        
        <section class="col izq card">
            <br />

        <h2 style="font-size: 30px;"> Proveedor</h2>
        <div class="clearfix"></div>
     
        <div>
           
            <a>Id: @oProveedore.Id</a>
            <div class="clearfix"></div>

            <a>Mail: @oProveedore.Mail</a>
            <div class="clearfix"></div>

            <a>Telefono: @oProveedore.Telefono</a>
            <div class="clearfix"></div>

            <a> Direccion: @oProveedore.Direccion</a>
            <div class="clearfix"></div>

            <a>Cp: @oProveedore.Cp</a>
            <div class="clearfix"></div>

            <a>Observaciones: @oProveedore.Observaciones</a>
            
        </div>
    </section>


    <section class="col derecha ">
        <h2 style="font-size: 30px;">Insumo</h2>
        <div class="clearfix"></div>
        
        
        
        <a>DESCRIPCIÓN: @oInsumo.Descripcion</a>
        
        <div class="clearfix"></div>

        <a>CODIGO: @oInsumo.Codigo </a>
        
        <div class="clearfix"></div>

       

        <div class="clearfix"></div>

       
       </section>



        <section class="col derecha ">
        <h2 style="font-size: 30px;">Lote</h2>
        <div class="clearfix"></div>

        @if (num != null)
        {
            <a>NÚMERO DE LOTE: @num </a>
        }
        else
        {
            <a>No figura</a>
        }
        <div class="clearfix"></div>
        @if (num != null)
        {
            <a>NÚMERO DE REMITO: @num </a>
        }
        else
        {
            <a>No figura</a>
        }

        <div class="clearfix"></div>

        <div>

            @if (cantidad != null)
            {
                <a> CANTIDAD: @cantidad</a>
            }
            else
            {
                <a>No figura</a>
            }
            <div class="clearfix"></div>

        </div>
        <div>

            <a>FECHA DE INGRESO: @fechaTraducida.ToString("dd/MM/yyyy") </a>
        </div>
        

            <div class="clearfix"></div>

           
        


        





    </section>
</div>


<h1> PÁGINA LOTE RECORTE</h1>
    <br />

     <div class="row card temp" style="font-size: 20px;">
</div>
    






@code {
    Proveedore oProveedore = new();
    Respuesta<Proveedore> oRta = new();



    InsumoDTO oInsumo = new();
    Respuesta<InsumoDTO> oRtaIn = new();


    [Parameter] public int? cantidad { get; set; }
    [Parameter] public int? remito { get; set; }
    [Parameter] public long? fecha { get; set; }
    [Parameter] public int? num { get; set; }



    public DateTime fechaTraducida = new();


    protected override async Task OnInitializedAsync()
    {
        if (remito != 0)
        {
            oRta = await http.GetFromJsonAsync<Respuesta<Proveedore>>($"/api/Proveedore/{remito}");
            oProveedore = oRta.List;
        }
      
        
        if (fecha.HasValue)
        {
            fechaTraducida = new DateTime(fecha.Value);
        }
       
        /*
         *   if (remito != 0)
        {
            oRtaIn = await http.GetFromJsonAsync<Respuesta<InsumoDTO>>($"/api/oInsumo/{remito}");
            oInsumo = oRtaIn.List;
        }
         */
    }



 
    /*Parameters.Add(nameof(InfoLotes.Cantidad), cantidad);
    parameters.Add(nameof(InfoLotes.Remito), remito);
    parameters.Add(nameof(InfoLotes.Fecha), fecha);
    parameters.Add(nameof(InfoLotes.Numero), num);
    */

}
