@page "/cot/{id:int}"


<div class="no-print">
        <br />
        <button class="btn btn-outline-primary no-print" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
        <br class="no-print" />
        <br class="no-print" />
        <h1 class="no-print">Información correspondiente a la cotización n° @oCotizacion.Codigo</h1>

        <hr />
</div>


<div style="display:flex; justify-content: space-between;padding-top:20px;padding-right:20px;padding-left:20px">
    <div>
        <img src="images/logo2.jpg" style="height:70px;width:auto" />
    </div>
    <div />
    <div style="padding-top:35px;padding-right:30px;font-weight:700">
        <RadzenText TextStyle="TextStyle.H5"><bold>ORDEN DE FABRICACIÓN</bold></RadzenText>

    </div>
</div>
<div class="row print">
    <div class="col-2">
        <h6>
            <em class="style2">CLIENTE:</em>
        </h6>
    </div>
    <div class="col-2" style="background-color:gray">
        <span class="style2">@oCotizacion.Cliente</span>
    </div>
    <div class="col-1" />
    <div class="col-3">
        <h6><em class="style2">PEDIDO DE FABRICA:</em></h6>
    </div>
    <div class="col-3 fix" style="background-color:gray;">
        <span class="style2" style="font-size:15px"></span>
    </div>
</div>
<div class="row print">
    <div class="col-2">
        <h6><em class="style2">ORDEN N°:</em> </h6>
    </div>
    <div class="col-2" style="background-color:gray">
        <span class="style2">@oCotizacion.Codigo</span>
    </div>
    <div class="col-1" />
    <div class="col-3">
        <h6><em class="style2">FECHA DE ENTREGA:</em></h6>
    </div>
    <div class="col-3 fix" style="background-color:gray">
        @if (oCotizacion.Fechaentrega.HasValue)
        {
            <span class="style2">@oCotizacion.Fechaentrega.Value.ToString("dd/MM/yyyy")</span>
        }
        else
        {
            <span class="style2">Sin fecha de entrega registrada</span>
        }
    </div>
</div>
<div class="row print">
    <div class="col-12" style="text-align:center;background-color:gray;min-height:25px; margin-top:10px;margin-bottom:10px">
        <span class="style2">@oCotizacion.Titulo</span>
    </div>

</div>
<div class="row WORKGROUP print">
    <div class="col-5" />
    <div class="col-3" style="background-color:gray">
        <span class="style2">REMITO DE PINTURA: </span>
    </div>
    <div class="col-4" style="background-color:gray">
        <textarea class="cajas-texto" style="border: 0;margin-top:5px; font-weight: bold;max-height:25px;background-color:gray;max-width:200px" />
    </div>
</div>
<div class="row print">
    <div class="col-6">
        <h6><em class="style2">DESCRIPCION DE CADA GABINETE</em></h6>
    </div>
    <div class="col-3">
        <h6><em class="style2">CANTIDAD:</em></h6>
    </div>
    <div class="col-3">
        <h5 style="font-size:30px">@oCotizacion.Cantidad</h5>
    </div>

</div>
<div class="row style2 print" style="border:solid 2px black; min-height: 120px;background-color:lightgray">
    @if (descripcion != null)
    {
        @foreach (var dsc in descripcion)
        {
            <div class="col-12">
                <span style="font-size:13px">@dsc</span>
            </div>
            <br />
        }

    }
    else
    {
        <div class="col-12">
            <span class="style2 text">No hay descripción.</span>
        </div>
    }

</div>
<br />
<div class="row print">
    <div class="col-4">
        <em class="style2">Lugar de entrega:</em>
    </div>
    <div class="col-8" style="background-color:gray;min-height:25px">
        <span class="style2"></span>
    </div>


</div>
<br class="no-print" />
<div class="row print" style="text-align:center;background-color:gray;">
    <span class="style2">ESPECIFICACIONES Y EQUIPAMIENTO</span>
</div>
<br />

<div class="flex">

    <div class="row print grilla" style="">
        <div class="col-4">
            <a>-Chapa Estructura:</a>
        </div>
        <div class="col-8" style="border:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Chapa Puertas:</a>
        </div>
        <div class="col-8" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Chapa Bandejas:</a>
        </div>
        <div class="col-8" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Zocalo/Trineo:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Portaplanos:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Traba Antiviento:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Contrafrentes:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Tipo de cierre:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Sentido apertura de puertas:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Color/Espesor de pintura:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Cancamos:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Doble marco interno:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Caballetes Termicas:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Caballetes Interruptores:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Tapas de piso:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Perfiles C1 y C2:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Perfiles Omega:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Sistemas de aisladores:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Rejillas de ventilacion:</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>
        <div class="col-4 ">
            <a>-Sobretecho  :</a>
        </div>
        <div class="col-8 cellgrilla" style="border-left:solid 2px black;border-right:solid 2px black;border-bottom:solid 2px black">
            <RadzenTextArea class="col-6 cajas-texto py-0" style="height:25px;border: 0;font-size:12px" placeholder="" />
        </div>

    </div>
</div>

<div class="row" style="text-align:center;">
    <h5><em><span class="style2">Referencia</span></em></h5>
</div>
<div class="row">
    <div class="col-12" style="border: solid 2px black;display:flex;align-items:center;min-height: 60px;justify-content:center;justify-items:center;text-align:center;background-color:lightgray">
        <span class="style2">@oCotizacion.Referencia</span>
    </div>
</div>
<br />
<br />

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    Cotizacione oCotizacion = new();
    [Parameter] public int id { get; set; }


    List<InsumoDTO> oRtaInsumos;
    List<PersonalDTO> oRtaPersonal;
    List<InsumosUsados> insumosUsados = new();
    RadzenSteps? steps;
    RadzenDataGrid<InsumosUsados>? grid;
    RadzenDataGrid<PersonalDTO>? gridOperarios;
    RadzenDropDownDataGrid<InsumoDTO>? gridDropInsumos;
    PersonalDTO persona;
    List<PersonalDTO> listaOperarios = new();
    Respuesta<List<EventosProduccion>> personalEventos = new();
    bool disabled = true;
    InsumoDTO insumo = new();
    Lote lote = new();
    InsumosUsados InsumosUsadosParaGuardar = new();
    int cantidad;
    List<string> descripcion = new();

    public void resetInsLote()
    {
        lote = new();
        cantidad = 0;
        insumo = new();
    }
    protected override async Task OnInitializedAsync()
    {


        Console.WriteLine(id);
        //var response = await http.GetFromJsonAsync<Respuesta<Ordentrabajo>>($"/api/ot/{id}");
        //oCotizacion = response.List;
            var response4 = await http.GetFromJsonAsync<Respuesta<Cotizacione>>($"/api/cotizacion/{id}");
            oCotizacion = response4.List;

        descripcion = JsonSerializer.Deserialize<List<string>>(oCotizacion.Descripcion);

        var response2 = await http.GetFromJsonAsync<Respuesta<List<InsumoDTO>>>("/api/insumo");
        oRtaInsumos = response2.List;

        var response3 = await http.GetFromJsonAsync<Respuesta<List<PersonalDTO>>>("/api/personal");
        oRtaPersonal = response3.List.Where(x => x.Puesto == "Operario").ToList();

        

    }


    

    async Task alertaNoHayInsumosSeleccionados()
    {

        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¡No hay ningún insumo seleccionado!",
                Text = "Debe seleccionar el insumo a utilizar para poder continuar.",
                Icon = SweetAlertIcon.Error,
                //ShowCancelButton = true,
                //ConfirmButtonText = "Enviar",
                //CancelButtonText = "Cancelar"
            });



    }
    async Task ComeBack()
    {
        nav.NavigateTo("/cotizaciones");
    }



    async Task Get()
    {
        var response2 = await http.GetFromJsonAsync<Respuesta<List<InsumoDTO>>>("/api/insumo");
        oRtaInsumos = response2.List;
        StateHasChanged();
        grid.Reload();
        gridDropInsumos.Reload();
        StateHasChanged();
    }

    async Task gotoadministrarinsumos()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(AdministrarInsumos.id), id);
        var options = new ModalOptions()
            {
                Size = ModalSize.Large
            };

        var formModal = Modal.Show<AdministrarInsumos>("Administrar Insumos", parameters, options);
        var result = await formModal.Result;
        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
            await OnInitializedAsync();

        }
        else
        {
            await Get();
        }
    }

    public void gotoreporte()
    {
        nav.NavigateTo($"/reporteobra/{id}");
    }

    public void gotocalidad()
    {
        nav.NavigateTo($"/certificadocalidad/{id}");
    }

}