@using System.Text.Json


<style>
    .form-container {
        display: flex;
        align-items: center;
    }

    .form-container .form-control {
        flex-grow: 1;
        margin-right: 10px;
    }

    .form-container .btn {
    }
</style>


    <div>
    
        @if (oRtaPersonal != null && oRtaPersonal.Count > 0)
        {
        <EditForm Model="@oRtaPersonal" OnValidSubmit="Guardar">

           

         <div class="row">
                <div class="col-3">
                    <label>Operario</label>
                    <RadzenDropDownDataGrid TValue="PersonalDTO" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" AllowClear="true"
                                            Data=@(oRtaPersonal) Style="width: 100%" AllowColumnResize="true" @bind-Value="operario"
                                            TextProperty="Id" AllowFilteringByAllStringColumns="true" Change="@(args => addPersonal(operario))">
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="Legajo" Title="Legajo" Width="100px" />
                            <RadzenDropDownDataGridColumn Property="Nombres" Title="Nombre/s" Width="100px" />
                            <RadzenDropDownDataGridColumn Property="Apellido" Title="Apellido" Width="100px" />
                        </Columns>
                    </RadzenDropDownDataGrid>
                    

                </div>
              
                <div class="col-4">
                    <label>Fecha</label>
                    <br />        
                    <RadzenDatePicker TValue="DateTime?" @bind-Value="@falla.fecha" DateFormat="dd/MM/yyyy" Class="w-75" />
                </div>
                <div class="col-4">
                    <label> Gravedad del fallo </label>
                    <RadzenDropDown class="form-control" TValue="string" Data=@Gravedad placeholder="" @bind-Value=@falla.gravedad />
                </div>

               </div>
               <br />

               <div class="col">
                @if (operarios != null)
                {
                    
                <RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple"
                                AllowSorting="true" PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" @ref="grid"
                                    Data="@operarios" TItem="PersonalDTO" ColumnWidth="250px" LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                            <RadzenDataGridColumn TItem="PersonalDTO" Property="Nombres" Title="Nombres" Width="30%"/>
                            <RadzenDataGridColumn TItem="PersonalDTO" Property="Apellido" Title="Apellido" Width="30%"/>
                            <RadzenDataGridColumn TItem="PersonalDTO" Property="Legajo" Title="Legajo" Width="30%" />

                            <RadzenDataGridColumn TItem="PersonalDTO" Property="" Title="" Width="10%">
                            <Template Context="data">
                                    <button class="btn" title="Eliminar" @onclick="() => deletePersonal(data)"><FeatherTrash2 Color="red" /></button>
                             </template>
                            </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
                }
               </div>
               <br />
               <br />

               <div>
                    <label> Etapa del fallo </label>
                 <div class="form-container">
                    <RadzenDropDown class="form-control" TValue="string" Data="@Etapas" placeholder="Selecciona una etapa" @bind-Value="etapaValue" Change="@(args => addDescription())"/>
                    
                </div>

                    <ul style="width: 100%;">
    @foreach (var etapa in etapasSeleccionadas)
    {
        <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
            <li style="flex-grow: 1;">* @etapa</li>
            <button class="btn" title="Eliminar" @onclick="() => deleteDescription(etapa)">
                <FeatherTrash2 Color="red" />
            </button>
        </div>
        <hr />
    }
</ul>
                    

               <br />

                        @if (oTrabajo != null)
                            {
                             <div class="row">
                                    <div class="col">
                                        <label>Orden de trabajo</label>
                                        <RadzenDropDownDataGrid TValue="Ordentrabajo" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" AllowClear="true"
                                                                Data=@(oTrabajo) Style="width: 100%" AllowColumnResize="true" @bind-Value="trabajo"
                                                                TextProperty="Id" AllowFilteringByAllStringColumns="true">
                                            <Columns>
                                                <RadzenDropDownDataGridColumn Property="Estado" Title="Etapa" Width="100px" />
                                                <RadzenDropDownDataGridColumn Property="Codigo" Title="Codigo" Width="100px" />
                                                <RadzenDropDownDataGridColumn Property="Cliente" Title="Cliente" Width="100px" />
                                            </Columns>
                                        </RadzenDropDownDataGrid>
                    
                                   </div>
                            </div>


                 
                        }
                        else
                        {
                    <RadzenText> No se encontro ordenes de trabajo</RadzenText>
                        } 
                </div>

               <div class="col">

                <div class="row" style="margin-top: 15px;">

                   
                        <label class="col-sm">Observaciones</label>
                        <InputText @bind-Value="@falla.observacion" class="form-control" placeholder="Observaciones"></InputText>
                        <ValidationMessage For="(()=> falla.observacion)" style="color:red;" />
                   </div>
                <div class="row" style="margin-top: 15px;">


                        <label class="col-sm">Correccion</label>
                        <InputText @bind-Value="@falla.correccion" class="form-control" placeholder="correccion"></InputText>
                        <ValidationMessage For="(()=> falla.correccion)" style="color:red;" />
                    </div>
                </div>


                 <br />
<InputFile OnChange="@OnInputFileChange" multiple />
@foreach (var plano in imagenes.ToList())
{
   
    <a href="despiece/@plano" download target="_blank">Imagen: @plano</a>
    <button class="btn" @onclick="()=>alertaDelete(plano)"><FeatherX Color="red"></FeatherX></button>
    

    <br />
}
<br />
        <div>

                    <br />
                    <br />
                <RadzenButton Variant="Variant.Text" Class="rz-text-secondary-color rz-background-color-secondary-lighter" Text="Guardar" type="submit" /> &nbsp;
                <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button> &nbsp;
        </div>
        </EditForm>
    }
    else
    {
        <p> No hay personal para mostrar</p>
    }



</div>

@code {
    [Parameter] public string? id { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }


    List<PersonalDTO> oRtaPersonal = new();
    List<Ordentrabajo> oTrabajo = new();
    Ordentrabajo? trabajo;
    Fallas falla = new();
    List<PersonalDTO> operarios;
    PersonalDTO? operario;



    private List<File>? files = new();
    private List<UploadResult>? uploadResults = new();
    private int maxAllowedFiles = 50;
    private bool? shouldRender;
    MultipartFormDataContent? content = new MultipartFormDataContent();
    List<string>? imagenes = new();




    List<string> Etapas = new List<string> { "Oficina tecnica", "CC", "Punzonado", "Plegado", "CPL", "Soldadura", "Pulido", "CPU", "Pintura", "CP", "Armado", "CA", "Despacho" };

    List<string> etapasSeleccionadas = new();
    string etapaValue;

    bool allowFiltering = false;
    RadzenDataGrid<PersonalDTO>? grid;

    List<string> Gravedad = new List<string>
    {
        "Leve","Moderado", "Grave"
    };

    protected override async Task OnInitializedAsync()
    {
        operarios = new List<PersonalDTO>();
        await Get();
    }

    public async Task Get()
    {
        falla.fecha = DateTime.Now;
        var rta = await http.GetFromJsonAsync<Respuesta<List<PersonalDTO>>>("/api/personal");
        oRtaPersonal = rta.List.Where(x=>x.Activo==true).ToList();

        var response = await http.GetFromJsonAsync<Respuesta<List<Ordentrabajo>>>($"/api/ot");
        oTrabajo = response.List;



        if (!string.IsNullOrEmpty(falla.imagenes))
        {
            var imagen = JsonSerializer.Deserialize<List<string>>(falla.imagenes);


            imagenes = imagen;
        }

    }
    public async Task Guardar()
    {
        if (string.IsNullOrEmpty(falla.observacion.ToString()))
        {
            await alertaError(" una observación valida");
        }
        if (string.IsNullOrEmpty(falla.gravedad.ToString()))
        {
            await alertaError(" una gravedad");
        }
        if (oTrabajo == null)
        {
            await alertaError(" una orden de trabajo");
        }
       
        else if (string.IsNullOrEmpty(operarios.FirstOrDefault().Nombres.ToString()))
        {
            await alertaError(" un operario valido");
        }
        else
        {
            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "La falla se guardara en el sistema",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                ConfirmButtonText = "Aprobar",
                CancelButtonText = "Cancelar"
            });

            if (!string.IsNullOrEmpty(result.Value))
            {


                var client = ClientFactory.CreateClient();
                var response = await client.PostAsync($"{nav.BaseUri}Filesave/imagenesFallas", content);

                Console.WriteLine(nav.BaseUri);
                Console.WriteLine("Se imprimeeeeeeeeeeeeeeeeen");
            Console.WriteLine($"{nav.BaseUri}Filesave/imagenesFallas");

                Console.WriteLine(response.Content);

            if (response.IsSuccessStatusCode)
            {
                var options = new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true,
                };

                using var responseStream =
                    await response.Content.ReadAsStreamAsync();

                var newUploadResults = await JsonSerializer
                    .DeserializeAsync<IList<UploadResult>>(responseStream, options);

                if (newUploadResults is not null)
                {
                    uploadResults = uploadResults.Concat(newUploadResults).ToList();
                }
            }


                // falla.empleado = operario.Id;
                falla.etapa = string.Join(", ", etapasSeleccionadas);
                if(oTrabajo != null)
                {
                    falla.OT = trabajo.Id;
                    falla.codigo = trabajo.Codigo;

                }
                if(imagenes.Count() > 0)
                {
                    falla.imagenes = JsonSerializer.Serialize<List<string>>(imagenes);
                }


                foreach (var ope in operarios)
                {
                    falla.empleado = ope.Id;
                    await http.PostAsJsonAsync<Fallas>("/api/fallas", falla);
                }

                await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));

            }
            else
            {

            }
        }
    }
    public async Task addPersonal(PersonalDTO operario)
    {
        if (operario != operarios.Where(x=>x.Id == operario.Id).FirstOrDefault())
        {
            operarios.Add(operario);
            await grid.Reload();
        }
    }

    public async Task deletePersonal(PersonalDTO operario)
    {
        operarios.Remove(operario);
        await grid.Reload();
    }
  
    public async Task alertaError(string faltante)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = $"No ingreso {faltante}",
                Icon = SweetAlertIcon.Error,
                ShowCancelButton = false,
                ConfirmButtonText = "Aceptar",

            });
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }

     public async Task addDescription()
    {
         if (!string.IsNullOrEmpty(etapaValue) && !etapasSeleccionadas.Contains(etapaValue))
        {
        etapasSeleccionadas.Add(etapaValue);
        }
    }
    public async Task deleteDescription(string descriptionValue)
    {
        etapasSeleccionadas.Remove(descriptionValue);
        await grid.Reload();
    }






   private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {

                Console.WriteLine(nav.BaseUri);

        shouldRender = false;
        long maxFileSize = 1024 * 1500000;

        var upload = false;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            imagenes.Add(file.Name);
            if (uploadResults.SingleOrDefault(
                f => f.FileName == file.Name) is null)
            {
                try
                {

                    var fileContent =
                        new StreamContent(file.OpenReadStream(maxFileSize));



                    files.Add(new() { Name = file.Name });

                    content.Add(
                        content: fileContent,
                        name: "\"files\"",
                        fileName: file.Name);
                    upload = true;
                }
                catch (Exception ex)
                {

                    Console.WriteLine(ex.Message);

                    uploadResults.Add(
                        new()
                            {
                                FileName = file.Name,
                                ErrorCode = 6,
                                Uploaded = false
                            });
                }
            }
        }


        shouldRender = true;
    }

        async Task alertaDelete(string? plano)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se eliminara la imagen de la falla",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Eliminar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            await deletePlano(plano);
        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }


    }
    public async Task deletePlano(string? despiece)
    {
        imagenes = imagenes.Where(x => x != despiece).ToList();
        falla.imagenes = JsonSerializer.Serialize<List<string>>(imagenes);
        await http.PutAsJsonAsync<Fallas>("/api/fallas", falla);

    }
    private class File
    {
        public string? Name { get; set; }
    }
}
