


<center>
    @if (oRtaInsumos != null && oRtaInsumos.Count() > 0)
    {

        <RadzenSteps @ref="steps">
            <Steps>
                <RadzenStepsItem Text="Seleccionar insumo a utilizar" Selected=SeleccionarInsumo>
                    <center>
                        <RadzenDropDownDataGrid TValue="InsumoDTO" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" AllowClear="true"
                                                Data=@(oRtaInsumos) Style="width: 100%" AllowColumnResize="true" @bind-Value="insumo" @ref="gridDropInsumos"
                                                TextProperty="Descripcion" AllowFilteringByAllStringColumns="true">

                            <Columns>
                                <RadzenDropDownDataGridColumn Property="Descripcion" Title="Descripción" Width="100px" />
                                <RadzenDropDownDataGridColumn Property="Codigo" Title="Código" Width="100px" />
                                <RadzenDropDownDataGridColumn Property="" Title="Stock" Width="100px">
                                    <Template Context="data">
                                        @if (data.Tipo == "Lote unico")
                                        {
                                            @data.StockReal
                                        }
                                        else
                                        {
                                            @listaTodosLotes.Where(x=>x.IdInsumo == data.Id).Sum(x => x.Cantidad)
                                        }
                                    </Template>
                                </RadzenDropDownDataGridColumn>
                                <RadzenDropDownDataGridColumn Property="" Title="Cantidad prestada" Width="30%">
                                    <Template Context="data">
                                        @oPrestamo.Where(x=>x.Insumo == data.Id).Sum(x => x.Cantidad)

                                    </Template>
                                </RadzenDropDownDataGridColumn>
                            </Columns>
                        </RadzenDropDownDataGrid>

                    </center>
                </RadzenStepsItem>

                <RadzenStepsItem Disabled="@(insumo.Descripcion == null)" Text="Elegir lote a utilizar">
                    <center>
                        @if (insumo.Tipo == "Lote unico")
                        {
                            lote = listaLotes(insumo).First();

                            <br />
                            <p @onclick="async () => await steps.NextStep()">El insumo es de lote único, pase al siguiente paso</p>
                        }
                        else
                        {
                            <RadzenTabs RenderMode="TabRenderMode.Client">
                                <Tabs>


                                    <RadzenTabsItem Text="Nuevos">

                                        <RadzenDropDownDataGrid TValue="Lote" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" AllowClear="true"
                                                                Data=@(listaLotesNuevos(insumo))
                                                                Style="width: 100%" AllowColumnResize="true" @bind-Value="lote"
                                                                TextProperty="Numero" AllowFilteringByAllStringColumns="true">
                                            <Columns>


                                                <RadzenDropDownDataGridColumn Property="Id" Title="Numero de lote" Width="100px" />
                                                <RadzenDropDownDataGridColumn Property="Tipo" Title="Tipo" Width="100px" />
                                                <RadzenDropDownDataGridColumn Property="Cantidad" Title="Stock" Width="100px" />
                                                <RadzenDropDownDataGridColumn Property="" Title="Cantidad prestada" Width="30%">
                                                    <Template Context="data">
                                                        @oPrestamo.Where(x=>x.Lote == data.Id).Sum(x => x.Cantidad)

                                                    </Template>
                                                </RadzenDropDownDataGridColumn>
                                            </Columns>
                                        </RadzenDropDownDataGrid>
                                    </RadzenTabsItem>


                                    <RadzenTabsItem Text="Recorte">
                                        <RadzenDropDownDataGrid TValue="Lote" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" AllowClear="true"
                                                                Data=@(listaLotesRecorte(insumo))
                                                                Style="width: 100%" AllowColumnResize="true" @bind-Value="lote"
                                                                TextProperty="Numero" AllowFilteringByAllStringColumns="true">
                                            <Columns>
                                                <RadzenDropDownDataGridColumn Property="Id" Title="Numero de lote" Width="100px" />
                                                <RadzenDropDownDataGridColumn Property="Alto" Title="Alto" Width="100px" />
                                                <RadzenDropDownDataGridColumn Property="Ancho" Title="Ancho" Width="100px" />
                                                <RadzenDropDownDataGridColumn Property="Cantidad" Title="Stock" Width="100px" />
                                                <RadzenDropDownDataGridColumn Property="" Title="Cantidad prestada" Width="30%">
                                                    <Template Context="data">
                                                        @oPrestamo.Where(x=>x.Lote == data.Id).Sum(x => x.Cantidad)

                                                    </Template>
                                                </RadzenDropDownDataGridColumn>
                                            </Columns>
                                        </RadzenDropDownDataGrid>
                                    </RadzenTabsItem>


                                </Tabs>
                            </RadzenTabs>
                        }
                    </center>
                </RadzenStepsItem>

                <RadzenStepsItem Disabled="@(lote.Tipo==null)" Text="Elegir cantidad a utilizar">
                    <center>
                        @if(lote.Tipo == "Lote de recorte")
                        {
                            cantidad = 1;
                        }
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input @bind=@cantidad class="form-control" style="width:40%;"></input>
                                <span class="input-group-btn">

                                    <button class="btn btn-outline" title="Enviar" disabled=@disable @onclick="cargarInsumo"><FeatherSend Color="black" /></button>
                                </span>
                            </div>
                        </div>
                    </center>
                </RadzenStepsItem>

            </Steps>
        </RadzenSteps>

        @if (insumosUsados.Count() != 0)
        {
            <RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowColumnResize="true" AllowAlternatingRows="false" AllowSorting="true" PageSize="4"
                            AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" @ref="grid" Style="width: 90%" AllowFiltering="true"
                            Data="@insumosUsados" TItem="InsumosUsados" ColumnWidth="100px">
                <Columns>
                    <RadzenDataGridColumn TItem="InsumosUsados" Property="Descripcion" Filterable="false" Title="Insumo" Width="30%" TextAlign="TextAlign.Left" />
                    <RadzenDataGridColumn TItem="InsumosUsados" Property="cantidad" Filterable="false" Title="Cantidad" Width="30%" TextAlign="TextAlign.Left" />
                    <RadzenDataGridColumn TItem="InsumosUsados" Property="lote" Filterable="false" Title="Lote usado" Width="30%" TextAlign="TextAlign.Left">
                        <Template Context="data">
                           @if(data.lote != null)
                           {
                                <p>@data.lote</p>
                            }
                            else
                            {
                            <p>-</p>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="InsumosUsados" Property="" Title="" Filterable="false" Width="10%">
                        <Template Context="data">
                            <button class="btn" title="Eliminar" @onclick="() => alertaDeleteInsumo(data)"><FeatherTrash2 Color="red" /></button>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
    }
    else
    {
        <RadzenText>No hay insumos disponibles</RadzenText>
    }
</center>


@code {
    bool disable;

    [Parameter] public int id { get; set; }
    Ordentrabajo oTrabajo = new();
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    List<InsumoDTO> oRtaInsumos;
    List<PersonalDTO> oRtaPersonal;
    List<InsumosUsados> insumosUsados = new();
    List<Lote> listaTodosLotes = new();
    RadzenSteps? steps;
    RadzenDataGrid<InsumosUsados>? grid;
    RadzenDataGrid<PersonalDTO>? gridOperarios;
    RadzenDropDownDataGrid<InsumoDTO>? gridDropInsumos;
    PersonalDTO persona;
    List<PersonalDTO> listaOperarios = new();
    Respuesta<List<EventosProduccion>> personalEventos = new();


    IEnumerable<PrestamoDTO> oPrestamo;

    InsumoDTO insumo = new();
    Lote lote = new();
    InsumosUsados InsumosUsadosParaGuardar = new();
    int cantidad;
    bool SeleccionarInsumo = false;

    public void resetInsLote()
    {
        lote = new();
        cantidad = 0;
        insumo = new();
    }
    protected override async Task OnInitializedAsync()
    {
        disable = false;
        var rtaa = await http.GetFromJsonAsync<Respuesta<List<Lote>>>("/api/Lotes");
        listaTodosLotes = rtaa.List;
        var response = await http.GetFromJsonAsync<Respuesta<Ordentrabajo>>($"/api/ot/{id}");
        oTrabajo = response.List;

        var response2 = await http.GetFromJsonAsync<Respuesta<List<InsumoDTO>>>("/api/insumo");
        oRtaInsumos = response2.List.Where(x => x.Codigo.StartsWith("CH")).ToList();

        var response3 = await http.GetFromJsonAsync<Respuesta<List<PersonalDTO>>>("/api/personal");
        oRtaPersonal = response3.List.Where(x => x.Puesto == "Operario").ToList();

        personalEventos = await http.GetFromJsonAsync<Respuesta<List<EventosProduccion>>>($"/api/EventosProduccion/getbyorder?ot={id}&etapa=Punzonado");
        foreach (var persona in personalEventos.List)
        {
            var rta = await http.GetFromJsonAsync<Respuesta<PersonalDTO>>($"/api/personal/{persona.Operario}");
            listaOperarios.Add(rta.List);
        }
        if (!string.IsNullOrEmpty(oTrabajo.Insumosusados))
        {
            insumosUsados = JsonSerializer.Deserialize<List<InsumosUsados>>(oTrabajo.Insumosusados);
        }

        var oRtaPrestamo = await http.GetFromJsonAsync<Respuesta<List<PrestamoDTO>>>("/api/prestamo");
        // Cantidad de un mismo lote usado en un prestamo
        oPrestamo = oRtaPrestamo.List.Where(x => x.FechaInicio <= DateTime.Now && x.FechaFin > DateTime.Now && x.FechaFinReal == null);

    }
    async Task ComeBack()
    {
        nav.NavigateTo("/ot");
    }


    int? calcularCantidad(InsumoDTO insumo)
    {
        int? total = 0;
        var lotes = listaTodosLotes.Where(x => x.IdInsumo == insumo.Id);

        if (listaTodosLotes != null)
        {

            foreach (var lote in lotes)
            {
                if (lote.Tipo == "Lote nuevo" && lote.Cantidad != null)
                {
                    total += lote.Cantidad;
                }
                if(lote.Tipo == "Lote de recorte")
                {
                    total += 1;
                }
            }
        }
        insumo.StockReal = total;
        return total;
    }

    List<Lote> listaLotes(InsumoDTO insumo)
    {
        List<Lote> a = new();
        a = listaTodosLotes.Where(x => x.IdInsumo == insumo.Id).ToList();
        return a;
    }

    List<Lote> listaLotesNuevos(InsumoDTO insumo)
    {
        //List<Lote> a = new();
        List<Lote> oListaLotesNuevos = new();

        var lotes = listaTodosLotes.Where(x => x.IdInsumo == insumo.Id);

        if (lotes != null)
        {
            foreach (var i in lotes)
            {
                if (i.Tipo == "Lote nuevo")
                {
                    oListaLotesNuevos.Add(i);
                }
            }
        }
        return oListaLotesNuevos;
    }

    List<Lote> listaLotesRecorte(InsumoDTO insumo)
    {

        List<Lote> oListaLotesRecorte = new();
        var lotes = listaTodosLotes.Where(x => x.IdInsumo == insumo.Id);

        if (lotes != null)
        {
            lotes = listaTodosLotes.Where(x => x.IdInsumo == insumo.Id).ToList();
            foreach (var i in lotes)
            {
                if (i.Tipo == "Lote de recorte")
                {
                    oListaLotesRecorte.Add(i);
                }
            }
        }
        return oListaLotesRecorte;
    }

    public async Task alertaOk()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Se descontó correctamente el stock.",
                Icon = SweetAlertIcon.Success,
                ShowCancelButton = false,
                ConfirmButtonText = "Entendido"

            });

        if (!string.IsNullOrEmpty(result.Value))
        {
        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }
    public async Task alertaCantidad()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Se descontó correctamente el stock.",
                Text = "!Atención¡ la cantidad del insumo es menor al stock minimo",
                Icon = SweetAlertIcon.Success,
                ShowCancelButton = false,
                ConfirmButtonText = "Entendido"

            });

        if (!string.IsNullOrEmpty(result.Value))
        {
        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }

    public async Task cargarInsumo()
    {
        Console.WriteLine("HOla?");

        if (cantidad <= 0)
        {
            await Alerta("Ingrese una cantidad");
        }
        else
        {

            if (insumo.Tipo == "Lote unico")
            {
                if (insumo.StockReal < cantidad)
                {
                    Console.WriteLine(insumo.StockReal);
                    await Alerta("El Insumo no dispone de esa cantidad");
                }
                else
                {

                    Console.WriteLine(cantidad);
                    Console.WriteLine(insumo.StockReal);

                    insumo.StockReal -= cantidad;

                    Console.WriteLine(insumo.StockReal);
                    await http.PutAsJsonAsync<InsumoDTO>($"/api/insumo", insumo);

                    InsumosUsados nuevoUtilizado = new() { insumo = insumo, cantidad = cantidad, Descripcion = insumo.Descripcion };
                    if (insumosUsados.Where(a => a.insumo.Id == insumo.Id).Count() == 0) insumosUsados.Add(nuevoUtilizado);
                    else insumosUsados.Where(a => a.insumo.Id == insumo.Id).First().cantidad += cantidad;

                    var response2 = await http.GetFromJsonAsync<Respuesta<List<InsumoDTO>>>("/api/insumo");

                    oRtaInsumos = response2.List.Where(x => x.Codigo.StartsWith("CH")).ToList();
                    StateHasChanged();
                    grid.Reload();
                    gridDropInsumos.Reload();
                    StateHasChanged();

                    if ((insumo.StockReal - cantidad) > insumo.StockMin)
                    {
                        alertaOk();
                    }
                    else
                    {
                        alertaCantidad();
                    }
                    insumo = new();
                    cantidad = 0;
                    await steps.PrevStep();
                    await steps.PrevStep();


                    oTrabajo.Insumosusados = JsonSerializer.Serialize<List<InsumosUsados>>(insumosUsados);

                    await http.PutAsJsonAsync<Ordentrabajo>("/api/ot", oTrabajo);


                }
            }
            else
            {
                //Suma de todos los lotes segun el mismo insumo
                var CantidadTotalLotes = listaTodosLotes.Where(x => x.IdInsumo == insumo.Id).Sum(x => x.Cantidad);

                if (lote.Cantidad < cantidad)
                {
                    await Alerta("El lote no dispone esa cantidad");
                }
                else
                {

                    Console.WriteLine("Llego");

                    Console.WriteLine(cantidad);
                    Console.WriteLine(insumo.StockReal);

                    lote.Cantidad -= cantidad;
                    insumo.StockReal -= cantidad;
                    Console.WriteLine(insumo.StockReal);
                    await http.PutAsJsonAsync<Lote>($"/api/Lotes", lote);

                    if (lote.Tipo != "Lote de recorte")
                    {
                        await http.PutAsJsonAsync<InsumoDTO>($"/api/insumo", insumo);
                    }




                    InsumosUsados nuevoUtilizado = new() { insumo = insumo, cantidad = cantidad, lote = lote.Id, Descripcion = insumo.Descripcion };
                    if (insumosUsados.Where(a => a.insumo.Id == insumo.Id && a.lote == lote.Id).Count() == 0) insumosUsados.Add(nuevoUtilizado);
                    else insumosUsados.Where(a => a.insumo.Id == insumo.Id && a.lote == lote.Id).First().cantidad += cantidad;

                    var response2 = await http.GetFromJsonAsync<Respuesta<List<InsumoDTO>>>("/api/insumo");
                    oRtaInsumos = response2.List.Where(x => x.Codigo.StartsWith("CH")).ToList();
                    StateHasChanged();
                    grid.Reload();
                    gridDropInsumos.Reload();
                    StateHasChanged();

                    if ((insumo.StockReal - cantidad) > insumo.StockMin)
                    {
                        alertaOk();
                    }
                    else
                    {
                        alertaCantidad();
                    }

                    insumo = new();
                    lote = new();
                    cantidad = 0;
                    await steps.PrevStep();
                    await steps.PrevStep();
                    //[{"Descripcion":"insumingui","insumo":{"Id":1,"StockMin":12313,"StockMax":12345,"StockReal":null,"Nombre":null,"Codigo":"123","Foto":"/imagenes/insumos/123.png","Descripcion":"insumingui","Recepcion":"Recibido","Lotes":"[{\u0022Tipo\u0022:\u0022Lote nuevo\u0022,\u0022Numero\u0022:12,\u0022Cantidad\u0022:11653,\u0022FechaIngreso\u0022:\u00222023-03-07T10:02:55.359-03:00\u0022,\u0022Alto\u0022:null,\u0022Ancho\u0022:null,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote de recorte\u0022,\u0022Numero\u0022:434,\u0022Cantidad\u0022:null,\u0022FechaIngreso\u0022:\u00222023-03-26T19:01:18.226-03:00\u0022,\u0022Alto\u0022:23,\u0022Ancho\u0022:45,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote nuevo\u0022,\u0022Numero\u0022:435,\u0022Cantidad\u0022:40,\u0022FechaIngreso\u0022:\u00222023-03-26T19:43:33.484-03:00\u0022,\u0022Alto\u0022:null,\u0022Ancho\u0022:null,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote de recorte\u0022,\u0022Numero\u0022:436,\u0022Cantidad\u0022:null,\u0022FechaIngreso\u0022:\u00222023-03-26T19:43:49.784-03:00\u0022,\u0022Alto\u0022:3,\u0022Ancho\u0022:5,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote de recorte\u0022,\u0022Numero\u0022:437,\u0022Cantidad\u0022:null,\u0022FechaIngreso\u0022:\u00222023-03-26T20:19:26.648-03:00\u0022,\u0022Alto\u0022:12,\u0022Ancho\u0022:23,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote nuevo\u0022,\u0022Numero\u0022:438,\u0022Cantidad\u0022:31,\u0022FechaIngreso\u0022:\u00222023-03-27T00:37:36.655-03:00\u0022,\u0022Alto\u0022:null,\u0022Ancho\u0022:null,\u0022OC\u0022:null}]"},"cantidad":10,"lote":12},{"Descripcion":"insumingui","insumo":{"Id":1,"StockMin":12313,"StockMax":12345,"StockReal":null,"Nombre":null,"Codigo":"123","Foto":"/imagenes/insumos/123.png","Descripcion":"insumingui","Recepcion":"Recibido","Lotes":"[{\u0022Tipo\u0022:\u0022Lote nuevo\u0022,\u0022Numero\u0022:12,\u0022Cantidad\u0022:11643,\u0022FechaIngreso\u0022:\u00222023-03-07T10:02:55.359-03:00\u0022,\u0022Alto\u0022:null,\u0022Ancho\u0022:null,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote de recorte\u0022,\u0022Numero\u0022:434,\u0022Cantidad\u0022:null,\u0022FechaIngreso\u0022:\u00222023-03-26T19:01:18.226-03:00\u0022,\u0022Alto\u0022:23,\u0022Ancho\u0022:45,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote nuevo\u0022,\u0022Numero\u0022:435,\u0022Cantidad\u0022:40,\u0022FechaIngreso\u0022:\u00222023-03-26T19:43:33.484-03:00\u0022,\u0022Alto\u0022:null,\u0022Ancho\u0022:null,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote de recorte\u0022,\u0022Numero\u0022:436,\u0022Cantidad\u0022:null,\u0022FechaIngreso\u0022:\u00222023-03-26T19:43:49.784-03:00\u0022,\u0022Alto\u0022:3,\u0022Ancho\u0022:5,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote de recorte\u0022,\u0022Numero\u0022:437,\u0022Cantidad\u0022:null,\u0022FechaIngreso\u0022:\u00222023-03-26T20:19:26.648-03:00\u0022,\u0022Alto\u0022:12,\u0022Ancho\u0022:23,\u0022OC\u0022:null},{\u0022Tipo\u0022:\u0022Lote nuevo\u0022,\u0022Numero\u0022:438,\u0022Cantidad\u0022:31,\u0022FechaIngreso\u0022:\u00222023-03-27T00:37:36.655-03:00\u0022,\u0022Alto\u0022:null,\u0022Ancho\u0022:null,\u0022OC\u0022:null}]"},"cantidad":10,"lote":12}]
                    if (calcularCantidad(insumo) < insumo.StockMin)
                    {
                        await Alerta($"El insumo {insumo.Descripcion} quedo con menor stock que el minimo");
                    }
                    oTrabajo.Insumosusados = JsonSerializer.Serialize<List<InsumosUsados>>(insumosUsados);

                    await http.PutAsJsonAsync<Ordentrabajo>("/api/ot", oTrabajo);

                }



                await http.PutAsJsonAsync<Ordentrabajo>("/api/ot", oTrabajo);
                disable = false;

            }
        }


    }

    public async Task Alerta(string? mensaje)
    {
        NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Warning,
                Detail = mensaje,
                Duration = 4000
            });
    }

    public async Task alertaDeleteInsumo(InsumosUsados insCant)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se borrara este insumo",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Aceptar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            deleteInsumo(insCant);
        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }

    async Task Get()
    {
        var response2 = await http.GetFromJsonAsync<Respuesta<List<InsumoDTO>>>("/api/insumo");
        oRtaInsumos = response2.List.Where(x => x.Codigo.StartsWith("CH")).ToList();
        StateHasChanged();
        grid.Reload();
        gridDropInsumos.Reload();
        StateHasChanged();
    }

    public async void deleteInsumo(InsumosUsados insCant)
    {

        Console.WriteLine("Hola");
        Console.WriteLine(insCant.lote);

        var insumoSelect = oRtaInsumos.Where(x => x.Id == insCant.insumo.Id).FirstOrDefault();


        if(insCant.lote != null)
        {
        var loteDelteado = listaTodosLotes.Where(x => x.Id == insCant.lote).FirstOrDefault();

        Console.WriteLine(loteDelteado.Tipo);

            
            loteDelteado.Cantidad += insCant.cantidad;

            await http.PutAsJsonAsync<Lote>($"/api/Lotes", loteDelteado);

            Console.WriteLine(insumoSelect.StockReal);
            if (loteDelteado.Tipo != "Lote de recorte")
            {

                insumoSelect.StockReal += insCant.cantidad;
                await http.PutAsJsonAsync<InsumoDTO>($"/api/insumo", insumoSelect);
            }
                

        insumosUsados.Remove(insCant);
        }
        else
        {

            insumoSelect.StockReal += insCant.cantidad;
            Console.WriteLine(insumoSelect.StockReal);

            await http.PutAsJsonAsync<InsumoDTO>($"/api/insumo", insumoSelect);

            
            insumosUsados.Remove(insCant);

        }

        if (!string.IsNullOrEmpty(oTrabajo.Insumosusados))
        {
            oTrabajo.Insumosusados = JsonSerializer.Serialize<List<InsumosUsados>>(insumosUsados);
            await http.PutAsJsonAsync<Ordentrabajo>("/api/ot", oTrabajo);
        }


        resetInsLote();
        SeleccionarInsumo = true;
        await Get();
    }



  
}

