@page "/ImprimirReporte/{etapa}"

@using System;
@using System.Drawing.Printing;
@using System.Windows;
@inject IJSRuntime _js
<style>
    @@media print {

        .no-print {
            display: none !important;
        }

        body {
            font-size: 10px !important;
            margin: 0;
            padding: 0;
        }

        .rz-datagrid-cell {
            font-size: 4px !important; 
            border: none !important; 
        }

        .sidebar {
            display: none !important; 
        }

        .print {
            margin-top: 5px !important; 
            overflow: hidden;
        }

        .no-border-input {
            border: none;
            box-shadow: none;
            width: 50px;
            font-size: 10px; 
        }

        .title {
            margin: 0;
            padding: 0;
            font-size: 12px; /* Ajusta el tamaño de fuente si es necesario */
        }

        br {
            display: none !important; 
        }

        * {
            -webkit-print-color-adjust: exact !important; 
            color-adjust: exact !important; 
            print-color-adjust: exact !important; 
        }

        .print-grid {
            font-size: 6px !important; 
            margin-top: 5px; /* Ajusta el margen superior para que esté pegado al título */
        }

        .print-grid .rz-datagrid-cell,
        .print-grid .rz-datagrid-header-cell,
        .print-grid .rz-datagrid-row {
            font-size: 6px !important; /* Ajusta el tamaño de la fuente en celdas, encabezados y filas */
            border: none !important; /* Elimina los bordes */
        }

        /* Para Firefox */
        @@moz-document url-prefix() {
            .title {
                display: none !important;
            }
        }
    }
</style>
<br />

<button class="btn btn-outline-primary no-print" @onclick="ComeBack">
    <FeatherArrowLeft Color="Blue"></FeatherArrowLeft>
</button>
<br />
<br />

<div style="display:flex; flex-direction:row; justify-content:space-between">
   

    <button class="btn btn-outline-success no-print" @onclick="Print">Imprimir reporte</button>
</div>

<br />
<br />

@if (ordenes != null)
{
    <button style="outline:none; float: right;height:100%;" class="btn btn-outline no-print" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>
    <br />
    <br />

    <div class="impresion">
        <div>
            <RadzenText class="title" TextStyle="TextStyle.H5"><p style="font-weight:600">Prioridad de la etapa @etapaFiltro</p></RadzenText>

        </div>
        <RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple"
                        AllowSorting="true" PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" @ref="grid"
                        Data="@ordenesSeleccionadas" TItem="Ordentrabajo" ColumnWidth="250px" LogicalFilterOperator="LogicalFilterOperator.Or" Class="print-grid">
        <Columns>
            <RadzenDataGridColumn TItem="Ordentrabajo" Title="Prioridad" Width="10%">
                <Template Context="data">
                        <input type="number" class="form-control no-border-input" style="width: max-content;" min="1" max="@ordenesSeleccionadas.Count" value="@data.Orden" @onchange="@(e => OnOrderChanged(data, e))" />
                </Template>
            </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Ordentrabajo" Property="Codigo" Title="N° Orden" Width="30%">
                <Template Context="data">
                    <a>@($"OT {data.Codigo}")</a>
                </Template>
            </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Ordentrabajo" Property="Fechaentrega" Title="Fecha de entrega" Width="30%">
                    <Template Context="data">
                        @if (data.Fechaentrega.HasValue)
                        {
                            <p>@data.Fechaentrega.Value.ToString("dd/MM/yyyy")</p>
                        }
                    </Template>
                </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Ordentrabajo" Property="Cliente" Title="Cliente" Width="30%" />

        </Columns>
    </RadzenDataGrid>
    </div>
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <RadzenProgressBar Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Secondary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center> 
}

@code {
    List<Ordentrabajo> ordenes = new();
    List<Ordentrabajo> ordenesSeleccionadas = new();

    bool allowFiltering = false;
    RadzenDataGrid<Ordentrabajo>? grid;

    [Parameter]
    public string etapa { get; set; }
    string? etapaFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }

    public async Task Get()
    {
        var respuesta = await http.GetFromJsonAsync<Respuesta<List<Ordentrabajo>>>("/api/ot");

        etapaFiltro = etapa switch
        {
            "ot" => "Oficina tecnica",
            "cc" => "CC",
            "punzonado" => "Punzonado",
            "plegado" => "Plegado",
            "cpl" => "CPL",
            "soldadura" => "Soldadura",
            "pulido" => "Pulido",
            "cpu" => "CPU",
            "pintura" => "Pintura",
            "cp" => "CP",
            "armado" => "Armado",
            "ca" => "CA",
            "despacho" => "Despacho",
            _ => throw new ArgumentException("Estado no soportado")
        };

        ordenes = respuesta.List.Where(x => x.Estado == etapaFiltro).ToList();
        ordenesSeleccionadas = ordenes;
        ActualizarOrdenes();

        for (int i = 0; i < ordenesSeleccionadas.Count; i++)
        {
            ordenesSeleccionadas[i].Orden = i + 1;
        }

        StateHasChanged();
    }

    public async void OnOrderChanged(Ordentrabajo ordenTrabajo, ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int newOrder))
        {

            if (newOrder < 1 || newOrder > ordenes.Count)
                return;


            ordenes.Remove(ordenTrabajo);

            if (newOrder > ordenes.Count)
            {
                newOrder = ordenes.Count;
            }


            ordenes.Insert(newOrder - 1, ordenTrabajo);

            for (int i = 0; i < ordenes.Count + 1; i++)
            {
                ordenes[i].Orden = i + 1;
            }
            ActualizarOrdenes();
        }
    }

    public async Task ActualizarOrdenes()
    {


        ordenesSeleccionadas = ordenesSeleccionadas.OrderBy(o => o.Orden).ToList();
        // Llamar a StateHasChanged para actualizar la vista
        StateHasChanged();

        // Recargar el grid para reflejar los cambios
        if (grid != null)
        {
            await grid.Reload();
        }
    }

    async Task ComeBack()
    {
        nav.NavigateTo("/ot");
    }

    async Task goToReporte()
    {
        nav.NavigateTo($"/ImprimirReporte/{etapa}");
    }

    public void CambiarModoFiltro()
    {
        allowFiltering = !allowFiltering;
        StateHasChanged();
    }
    public async Task Print()
        => await _js.InvokeVoidAsync("window.print");

    public class Ordentrabajo
    {
        public string? Codigo { get; set; }
        public string? Cliente { get; set; }
        public string? Estado { get; set; }
        public string? Obra { get; set; }
        public string? Referencia { get; set; }
        public int? Orden { get; set; }
        public DateTime? Fechaentrega { get; set; }
    }
}
