<h3><strong> Insumo @itemPresupuestos.Codigo</strong></h3>
   
<RadzenCard Class="m-3">
    <div class="row">
        <div class="col-md-6 col-xl-6">
            <div class="d-flex flex-row p-3">
                <div
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Proveedor</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@Proveedores.NombreFantasia</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Forma de pago</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@itemPresupuestos.CondicionPago</b></RadzenText>
                   <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Cantidad</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@itemPresupuestos.Cantidad</b></RadzenText>
                     <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Estado</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@itemPresupuestos.Estado</b></RadzenText>
                     <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Motivo</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@itemPresupuestos.Motivo</b></RadzenText>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <div class="d-flex flex-row p-3">
                <div>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Especificacion</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@itemPresupuestos.Observacion</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Precio unitario</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@itemPresupuestos.PrecioUnitario $</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Precio total</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@itemPresupuestos.Precio $</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Descripcion</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@itemPresupuestos.Descripcion</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0">Moneda</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@itemPresupuestos.Moneda</b></RadzenText>
                   

                </div>
            </div>
        </div>
    </div>

</RadzenCard>




@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int id { get; set; }
    Insumo? oInsumo = new();
    ProveedoreDTO? Proveedores = new();


    ItemPresupuesto? itemPresupuestos = new();

    bool allowFiltering = false;
    RadzenDataGrid<ItemPresupuesto>? grid;

    

    protected override async Task OnInitializedAsync()
    {

        var orta = await http.GetFromJsonAsync<Respuesta<ItemPresupuesto>>($"/api/itempresupuesto/{id}");
        itemPresupuestos = orta.List;

        
        var ort = await http.GetFromJsonAsync<Respuesta<Insumo>>($"/api/Insumo/{itemPresupuestos.Insumo}");
        oInsumo = ort.List;

        var prov = await http.GetFromJsonAsync<Respuesta<ProveedoreDTO>>($"/api/Proveedore/{itemPresupuestos.Proveedor}");
        Proveedores = prov.List;
        
        
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
}