@using Microsoft.Extensions.Logging
@using System.Text.Json

<style>
.boton{
    padding:.375rem .75rem;
}
</style>

@if(oRtaCliente.List != null && oTrabajo != null){
    <div class="card">
        <div class="card-body">

            <EditForm Model="@oTrabajo" OnValidSubmit="Guardar">
                <DataAnnotationsValidator />

                <div class="row">
                    <div class="col-sm-6">
                        <label>Título</label>
                        <InputText class="form-control" @bind-Value="@oTrabajo.Titulo" placeholder="Título"></InputText>
                        <ValidationMessage For="(()=> oTrabajo.Titulo)" style="color:red;" />
                    </div>
                    <div class="col-sm-6">
                        <label>Cliente</label>

                        <RadzenDropDown AllowClear="true" TValue="string" Style="width: 100%" AllowFiltering="true"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        Data=@(oRtaCliente.List) TextProperty="RazonSocial" ValueProperty="RazonSocial" @bind-Value="oTrabajo.Cliente" />
                        <ValidationMessage For="(()=> oTrabajo.Cliente)" style="color:red;" />
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-sm-6">
                        <label>Codigo</label>
                        <InputText class="form-control" @bind-Value="@oTrabajo.Codigo" placeholder="Codigo"></InputText>
                        <ValidationMessage For="(()=> oTrabajo.Codigo)" style="color:red;" />
                    </div>

                    <div class="col-sm-6">
                        <label>Cantidad</label>
                        <InputText class="form-control" @bind-Value="@oTrabajo.Cantidad" placeholder="Cantidad"></InputText>
                        <ValidationMessage For="(()=> oTrabajo.Cantidad)" style="color:red;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-10">
                                <label>Ítems descripción</label>
                                <InputText class="form-control" @bind-Value="@descriptionValue" placeholder="Descripción"></InputText>
                                <br />
                            </div>
                            <div class="col-sm-2">
                                <br />
                                <button class="btn" type="button" @onclick="addDescription"><FeatherCheck Color="green" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Obra</label>
                        <InputText class="form-control" @bind-Value="@oTrabajo.Obra" placeholder="Obra"></InputText>
                        <ValidationMessage For="(()=> oTrabajo.Obra)" style="color:red;" />
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            @if(Descripcion != null)
                            {
                                
                            foreach (var item in Descripcion)
                            {
                                <div class="row">
                                    <li>
                                        @item
                                        <button class="btn" type="button" @onclick="() => deleteDescription(item)"><FeatherX Color="red"></FeatherX></button>
                                    </li>
                                </div>
                            }
                            }
                        </div>
                    </div>
                    
                    <ValidationMessage For="(()=> oTrabajo.Descripcion)" style="color:red;" />
                    <br />

                    <div class="col-sm-6">
                    
                            <label>Lugar de entrega</label>
                            <InputText class="form-control" @bind-Value="@oTrabajo.Lugarentrega" placeholder="Lugar de entrega"></InputText>
                            <ValidationMessage For="(()=> oTrabajo.Lugarentrega)" style="color:red;" />
                            <br />

                            <label>Referencia</label>
                            <InputTextArea class="form-control" @bind-Value="@oTrabajo.Referencia" placeholder="Referencia"></InputTextArea>
                            <ValidationMessage For="(()=> oTrabajo.Referencia)" style="color:red;" />
                            <br />

                            <label>Fecha de entrega</label>
                            <br />
                            <RadzenDatePicker TValue="DateTime?" @bind-Value="@oTrabajo.Fechaentrega" Min="DateTime.Today" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-75" />
                            <br/>
                            <label>Color</label>
                            <InputText class="form-control" @bind-Value="@oTrabajo.Color" placeholder="Color"></InputText>

                    </div>
                
                </div>
                <br />

            
                <div class="row">

                    <div class="col-sm-6">
                        <label>Agregar planos (max 50)</label>

                        <br />
                        <InputFile OnChange="@OnInputFileChange" multiple />
                    </div>
                    <br />

                    <div class="col-sm-12">

                    @if(planos != null)
                    {
                            
                        foreach (var plano in planos.ToList())
                        {
                        <a href="planos/@plano" download target="_blank">@plano</a>

                        <button class="btn" type="button" @onclick="()=>alertaDelete(plano)"><FeatherX Color="red"></FeatherX></button>

                        <br />
                        }
                    }
                    </div>
                </div>
                <br />

                <button type="submit" class="btn btn-primary mr-2" disabled=@disable >Aceptar</button>
                <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
            </EditForm>
        </div>
    </div>
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <RadzenProgressBar Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Secondary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}



@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int id { get; set; }
    bool disable;

    Ordentrabajo oTrabajo = new();
    Respuesta<Ordentrabajo> oRta = new();


    Respuesta<List<Cliente>> oRtaCliente = new();

    List<string>? planos = new();
    List<string>? Descripcion = new();
    string? descriptionValue = null;

    List<string> tipo = new List<string>
    {
        "ACC","CT","GA","GC","GE","GI","GM","GP","RX"
    };


    //upload files
    private List<File> files = new();
    private List<UploadResult> uploadResults = new();
    private int maxAllowedFiles = 50;
    private bool shouldRender;
    MultipartFormDataContent content = new MultipartFormDataContent();

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }
    public async Task Get()
    {
        disable = false;

        oRtaCliente = await http.GetFromJsonAsync<Respuesta<List<Cliente>>>($"/api/Cliente");

        oRta = await http.GetFromJsonAsync<Respuesta<Ordentrabajo>>($"/api/ot/{id}");
        oTrabajo = oRta.List;


        try
        {
            Descripcion = JsonSerializer.Deserialize<List<string>>(oTrabajo.Descripcion);

        }
        catch
        {

        }
        try
        {
            planos = JsonSerializer.Deserialize<List<string>>(oTrabajo.Cotizaciones);

        }
        catch
        {

        }

    }

    async Task Guardar()
    {
        if (string.IsNullOrEmpty(oTrabajo.Titulo))
        {
            await alertaError("un título");

        }
        else if (string.IsNullOrEmpty(oTrabajo.Cliente))
        {
            await alertaError("un cliente");
        }
        else if (string.IsNullOrEmpty(oTrabajo.Cantidad))
        {
            await alertaError("una cantidad");
        }
        else if (string.IsNullOrEmpty(oTrabajo.Codigo))
        {
            await alertaError("un codigo");
        }
        else
        {

            disable = true;
            oTrabajo.Descripcion = JsonSerializer.Serialize<List<string>>(Descripcion);
            var client = ClientFactory.CreateClient();
            var response = await client.PostAsync($"{nav.BaseUri}filesave", content);

            if (response.IsSuccessStatusCode)
            {
                var options = new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true,
                };

                using var responseStream = await response.Content.ReadAsStreamAsync();

                var newUploadResults = await JsonSerializer.DeserializeAsync<IList<UploadResult>>(responseStream, options);

                if (newUploadResults is not null)
                {
                    uploadResults = uploadResults.Concat(newUploadResults).ToList();
                }
            }

            oTrabajo.Cotizaciones = JsonSerializer.Serialize<List<string>>(planos);


            oTrabajo.Estado = "Oficina tecnica";
            oTrabajo.Insumosusados = null;
            oTrabajo.Fechas = null;

            

            oTrabajo.Id = 0;
            await http.PostAsJsonAsync<Ordentrabajo>("/api/ot", oTrabajo);
            await ModalInstance.CloseAsync(ModalResult.Ok());


        }
    }
    public async Task alertaError(string faltante)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = $"No ingreso {faltante} valido",
                Icon = SweetAlertIcon.Error,
                ShowCancelButton = false,
                ConfirmButtonText = "Aceptar",

            });


    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Cancel());

    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        shouldRender = false;
        long maxFileSize = 1024 * 1500000;

        var upload = false;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            planos.Add(file.Name);
            if (uploadResults.SingleOrDefault(
                f => f.FileName == file.Name) is null)
            {
                try
                {

                    var fileContent =
                        new StreamContent(file.OpenReadStream(maxFileSize));



                    files.Add(new() { Name = file.Name });

                    content.Add(
                        content: fileContent,
                        name: "\"files\"",
                        fileName: file.Name);
                    upload = true;
                }
                catch (Exception ex)
                {

                    Console.WriteLine(ex.Message);

                    uploadResults.Add(
                        new()
                            {
                                FileName = file.Name,
                                ErrorCode = 6,
                                Uploaded = false
                            });
                }
            }
        }


        shouldRender = true;
    }
    public async Task alertaDelete(string plano)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se eliminará este plano",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Eliminar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            deletePlano(plano);

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }
    public async Task deletePlano(string plano)
    {
        planos.Remove(plano);


        Console.WriteLine(planos);

    }
    private class File
    {
        public string? Name { get; set; }
    }
    public async Task addDescription()
    {
        Descripcion.Add(descriptionValue);
        Console.WriteLine(Descripcion);

    }
    public async Task deleteDescription(string descriptionValue)
    {
        Descripcion.Remove(descriptionValue);
        Console.WriteLine(planos);

    }
}

@* <div class="col-sm-6">
    <label>Cliente</label>

    <RadzenDropDown AllowClear="true" TValue="string" Style="width: 100%" AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    Data=@(oRtaCliente.List) TextProperty="RazonSocial" ValueProperty="RazonSocial" @bind-Value="oTrabajo.Cliente" />
    <ValidationMessage For="(()=> oTrabajo.Cliente)" style="color:red;" />
</div>

        @code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int id { get; set; }


    Ordentrabajo oTrabajo = new();
    Respuesta<Ordentrabajo> oRta = new();


    Respuesta<List<Cliente>> oRtaCliente = new();

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }
        public async Task Get()
        {


            oRtaCliente = await http.GetFromJsonAsync<Respuesta<List<Cliente>>>($"/api/Cliente");

            oRta = await http.GetFromJsonAsync<Respuesta<Ordentrabajo>>($"/api/ot/{id}");
            oTrabajo = oRta.List;




        }
    }
 *@