@page "/PresupuestosAsociados/{id:int}"

<h3>Presupuestos</h3>


    <br />


<button class="btn btn-outline-success no-print" title="Crear cotización" @onclick="()=>AddPresupuesto()">Crear presupuesto</button>


<br />

@if (oRespuesta.List != null)
{
    

    <RadzenTabs Class="w-100 mx-auto" RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="Aprobados">

                <button style="outline:none; float: right;height:100%;" class="btn btn-outline" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>
                <br />
                <br />

                <RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple"
                                AllowSorting="true" PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" @ref="gridStock"
                                Data="@oRespuestaPresupuestoAprobada" TItem="InsumoDTO" ColumnWidth="250px" LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="Descripcion" Title="Descripción" Width="100px" />
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="Codigo" Title="Código" Width="100px" />
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="" Title="Cantidad" Width="100px">
                            <Template Context="data">
                                @if (esDeLoteUnico(data))
                                {
                                    @data.StockReal
                                }
                                else
                                {
                                    @data.StockReal
                                }
                            </Template>
                        </RadzenDataGridColumn>
                       
                    </Columns>
                </RadzenDataGrid>

            </RadzenTabsItem>

            <RadzenTabsItem Text="Pendientes">

                <button style="outline:none; float: right;height:100%;" class="btn btn-outline" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>

                <br />
                <br />

                <RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple"
                                AllowSorting="true" PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" @ref="grid"
                                Data="@oRespuestaPresupuestoGenerada" TItem="InsumoDTO" ColumnWidth="250px" LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="Descripcion" Title="Descripción" Width="100px" />
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="Codigo" Title="Código" Width="100px" />
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="" Title="Cantidad" Width="100px">
                            <Template Context="data">

                                @if (esDeLoteUnico(data))
                                {
                                    @data.StockReal
                                }
                                else
                                {
                                    @data.StockReal
                                }

                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TItem="InsumoDTO" Property="" Title="" Filterable="false" Width="30px">
                            <Template Context="data">


                                <button class="btn" title="Aprobar" @onclick="() => Aprobar(data.Id)"><FeatherCheck Color="green" /></button>
                                <button class="btn" title="Aprobar" @onclick="() => Rechazar(data.Id)"><FeatherTrash2 Color="Red" /></button>

                            </Template>
                                        
                        </RadzenDataGridColumn>

                      
                    </Columns>

                </RadzenDataGrid>

            </RadzenTabsItem>

            <RadzenTabsItem Text="Rechazados">

                <button style="outline:none; float: right;height:100%;" class="btn btn-outline" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>
                <br />
                <br />

                <RadzenDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple"
                                AllowSorting="true" PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" @ref="gridRecepcion"
                                Data="@oRespuestaPresupuestoRechazada" TItem="InsumoDTO" ColumnWidth="250px" LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="Descripcion" Title="Descripción" Width="100px" />
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="Codigo" Title="Código" Width="100px" />
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="" Title="Cantidad" Width="100px">
                            <Template Context="data">
                                @if (esDeLoteUnico(data))
                                {
                                    @data.StockReal
                                }
                                else
                                {
                                    @data.StockReal
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="InsumoDTO" Property="" Title="" Filterable="false" Width="30px">
                            <Template Context="data">


                               
                                <button class="btn" title="Aprobar" @onclick="() => Rechazar(data.Id)"><FeatherTrash2 Color="Red" /></button>

                            </Template>

                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <RadzenProgressBar Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Secondary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}


@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    Respuesta<List<InsumoDTO>> oRespuesta = new();
    Respuesta<OrdencompraDTO> oRtaOC = new();

    List<InsumoDTO> oRespuestaPresupuestoAprobada = new();
    List<InsumoDTO> oRespuestaPresupuestoGenerada = new();
    List<InsumoDTO> oRespuestaPresupuestoRechazada = new();


    OrdencompraDTO rechazado = new();
    [Parameter] public int? id { get; set; }

    RadzenDataGrid<InsumoDTO>? grid;
    RadzenDataGrid<InsumoDTO>? gridStock;
    RadzenDataGrid<InsumoDTO>? gridRecepcion;
    int currentPage;
    int currentPageStock;
    int currentPageRecepcion;
    bool allowFiltering = false;

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }
    async Task ComeBack()
    {
        nav.NavigateTo("/compras");
    }
    public void CambiarModoFiltro()
    {
        allowFiltering = !allowFiltering;
        StateHasChanged();
    }

    bool esDeLoteUnico(InsumoDTO insumo)
    {
        if (insumo.Lotes == null) return false;
        var lotes = JsonSerializer.Deserialize<List<Lotes>>(insumo.Lotes);
        foreach (var lote in lotes)
        {
            if (lote.Tipo == "Lote unico") return true;
        }
        return false;
    }
    async Task Get()
    {
        var respuesta = await http.GetFromJsonAsync<Respuesta<List<InsumoDTO>>>("/api/Insumo");
        oRespuesta = respuesta;


        oRespuestaPresupuestoAprobada = respuesta.List.Where(e => e.OrdencompraInsumoNavigations.Any(x => x.Estado == "Generada")).ToList();
        oRespuestaPresupuestoGenerada = respuesta.List.Where(e => e.OrdencompraInsumoNavigations.Any(x => x.Estado == "Presupuesto")).ToList();
        oRespuestaPresupuestoRechazada = respuesta.List.Where(e => e.OrdencompraInsumoNavigations.Any(x => x.Estado == "Rechazada")).ToList();



        StateHasChanged();


    }

    public async Task Aprobar(int? id)
    {
        var columnDes = grid.ColumnsCollection.Where(c => c.Property == "Descripcion").FirstOrDefault();
        var columnCod = grid.ColumnsCollection.Where(c => c.Property == "Codigo").FirstOrDefault();
        object? filtroAnteriorDes = columnDes.GetFilterValue();
        object? filtroAnteriorCod = columnCod.GetFilterValue();
        currentPage = grid.CurrentPage;
        var parameters = new ModalParameters();
        var options = new ModalOptions()
            {
                HideHeader = true,
            };
        parameters.Add(nameof(AddOC.idInsumo), id);
        var formModal = Modal.Show<AddOC>("Aprobar", parameters, options);
        var result = await formModal.Result;
        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
            await grid.GoToPage(currentPage);
        }
        else
        {
            await OnInitializedAsync();
            await grid.GoToPage(currentPage);
            columnDes.FilterValue = filtroAnteriorDes;
            columnCod.FilterValue = filtroAnteriorCod;
            columnDes.FilterOperator = FilterOperator.StartsWith;
            columnCod.FilterOperator = FilterOperator.StartsWith;
            grid.Reload();

        }
    }
    public async Task Rechazar(int? id)
    {
        
    }

    async Task AddPresupuesto()
    {
        var columnDes = grid.ColumnsCollection.Where(c => c.Property == "Descripcion").FirstOrDefault();
        var columnCod = grid.ColumnsCollection.Where(c => c.Property == "Codigo").FirstOrDefault();
        object? filtroAnteriorDes = columnDes.GetFilterValue();
        object? filtroAnteriorCod = columnCod.GetFilterValue();
        currentPage = grid.CurrentPage;
        var parameters = new ModalParameters();
        var options = new ModalOptions()
            {
                HideHeader = true,
            };
        
        var formModal = Modal.Show<AddOC>("", parameters, options);
        var result = await formModal.Result;
        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
            await grid.GoToPage(currentPage);
        }
        else
        {
            await OnInitializedAsync();
            await grid.GoToPage(currentPage);
            columnDes.FilterValue = filtroAnteriorDes;
            columnCod.FilterValue = filtroAnteriorCod;
            columnDes.FilterOperator = FilterOperator.StartsWith;
            columnCod.FilterOperator = FilterOperator.StartsWith;
            grid.Reload();

        }



    }


}
